<?php

return [
    'omnipay' => [
        'gateways' => [
            'paypal' => [
                'factory' => 'PayPal_Express',
                'username' => 'TEST',
                'password' => 'TEST',
                'signature' => 'TEST',
                'testMode' => true,
                'solutionType' => 'Sole',
                'landingPage' => 'Billing',
                'brandName' => 'CkDeveloper',
                'headerImageUrl' => '',
                'logoImageUrl' => ''
            ]
        ],
    ]
];
